/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 18, 2024, 9:33:04 AM
    Author     : Le Huu Huy
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1)
}

.header a {
    color: #1c1e53;
    transition: color 0.3s ease;
}

.header a:hover {
    color: #5e3bee !important;
}

